
*{margin:0px;
padding:0;       
 
                              }

body{ 
         background-image: url(img.jpg);
         background-repeat: no-repeat;
         height:500px;
        width:605px;
         background-size:cover;
         background-position:CENTER;
  }
  ul{ float:left;
        list-style-type:none;  
          margin-top:5px ;           
          margin-left:450px;
             padding: 20px;    
           
             height: 5px;
           
         
        color:aliceblue;     
              }

   ul li   { display:inline-block;
                                     }



   ul li a { 
     text-decoration:none;
        color:rgb(18, 16, 13);
    padding:5px 20px;

       margin-top: 70px,10px 0,50px;   
           transition: 0.5s ease; 
           font-style:bold ;  
           color:orange;
           border:4px solid rgb(246, 241, 241) ;       
                height: 20px;
              width:80px;   
              background-color: black;
              border-radius: 20px;
              text-align:underline ;

                       }  

       ul li a:hover{  background-color: cyan;      
                   color:black
       }               


       .hii{     position:absolute;
                      top:50%;
                      left:50%;  
                     transform: translate(-50%,-50%); 
                     transition: all 0.9 ease; 

                                   }

.about a {
    position:absolute;
    top:63%;
    left:50%;  
   transform: translate(-50%,-50%); 
           color:orange;
             border:3px solid black ;       
                  height: 20px;
                width:90px;
                text-decoration:none;
                border-radius: 20px;
                  background-color: black;                         }

         a:hover{
                          color: rgb(240, 16, 39);
                                 background-image:linear-gradient(green,cyan,yellow,blue);   
                                            }                   
                                
                    
                     h1 a {  color:white;
                    font-size: 50px;    
                    text-decoration:none;    }
.img {               
    position:absolute;
    top:40%;
    left:50%;  
   transform: translate(-50%,-50%); 
   border:3px solid black transparent;       
   height: 120px;
 width:200px;
 border-radius: 150px;
 background-image: url(dev.jfif);
transition: all 3s;
}

.img:hover {
             transform: translate(0px,10px);    
}

.img1 {               
  position:absolute;
  top:15%;
  left:10%;  
 transform: translate(-50%,-50%); 
 border:3px solid rgb(232, 221, 221) ;       
 height: 180px;
width:200px;
box-shadow: 10px -20px 20px rgb(233, 233, 137);
border-radius: 150px;
background-image: url(me3.jpg);
 background-repeat: no-repeat;                }

 .img1:hover {
                 transform: scale(1.5); }

 #form {
             width:200px;
             height:330px;
             background-image:linear-gradient(orange,rgb(142, 142, 28),rgb(116, 45, 45));
             position:absolute;
             top:80px;
             left:75%;
             right:25%;
             border:3px solid rgb(226, 219, 219) transparent;
             border-left: 1px solid rgb(234, 175, 135)transparent;
             border-radius: 25px;
             padding: 25px;  
             box-shadow: 20px -10px 23px rgb(240, 240, 127);    
              resize: both;
  }
   h2 { color: rgb(241, 241, 33);
              text-align: center;
               border:2px solid white;
               background-color:black ;
               height:30px;
               width:200px;
               border-radius: 20px ;
               padding: 4px;
               margin: 8px;

  }
  h2:hover {
                color:rgb(12, 16, 12);
                background-image:radial-gradient(red,rgb(21, 163, 192),blue);

  }

  input{color: #d41f1f;
          height:30px;
           width:160px;
            text-align: center;
               margin-top:25px;
              border-radius:10px;
              background:transparent;
              border:2px solid red transparent;
              border-top: none;
              border-bottom:3px solid white;
              border-left: none;
              border-right: none;
              

  }

  input:hover {
                   
                      background-color:cyan;
                      color: #000000;
  }


  button {color: #000000;
          height:30px;
           width:150px;
            text-align: center;
               margin-top:25px;
              border-radius:10px;
              background-color: rgb(27, 17, 17);
              text-decoration:none ;
  }
  
  button a{color: #0fde3f;
    height:30px;
     width:160px;
      text-align: center;
      font-size: large;
         margin-top:15px;
        border-radius:10px;
        text-decoration:none ;
    
}



